release/about.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>Новый дом</title>
  </head>
  <body id="page">
    <header class="header">
      <div class="header__top d-none d-lg-block">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-2">
              <div class="social"><a class="social__item" href="#"><span class="icon-vk"></span></a><a class="social__item" href="#"><span class="icon-instagram"></span></a></div>
            </div>
            <div class="col-3">
              <p class="font-14 m-0">НИЗКИЕ ЦЕНЫ на всю продукцию</p>
            </div>
            <div class="col d-flex justify-content-end align-items-center"><a class="heart-link mr-3" href="#"><span class="icon-heart"></span></a><a class="user-link" href="#"><span class="icon-user"></span></a></div>
          </div>
        </div>
      </div>
      <div class="header__middle">
        <div class="container">
          <div class="row">
            <div class="col-2 order-1"><a class="logo" href="#"><img class="lazyload img-fluid" data-src="images/logo.png"></a></div>
            <div class="col-12 col-lg-4 order-5 order-lg-2">
              <form class="form-search" action="#">
                <input class="form-search__input" placeholder="Поиск по сайту ..." type="text">
                <button class="form-search__btn" type="submit"><span class="icon-search"></span></button>
              </form>
            </div>
            <div class="col-lg-3 d-none d-lg-flex justify-content-center order-3"><a class="price-link d-flex align-items-center" href="#"><span class="icon-price mr-2"></span><span class="font-14"><b>Оптовый<br>прайс-лист</b></span></a></div>
            <div class="col-8 col-lg-3 d-flex justify-content-center order-2 order-lg-4"><a class="phone-link  d-flex align-items-center" href="tel:+79000000000"><span class="icon-phone mr-2"></span><span class="d-flex flex-column align-items-end align-items-lg-start"><span class="d-none d-lg-block">Пн-Пт: 9.00 - 20.00</span><span class="phone-link__number"><b>+7 (900) 000-00-00</b></span><span class="d-block d-lg-none">заказать звонок</span></span></a></div>
            <div class="col-2 d-flex d-lg-none justify-content-end order-3">
              <div class="d-flex d-lg-none" id="burger"><span></span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="header__bottom">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12 col-lg-3">
              <div class="catalog-btn">Каталог<span class="icon-arrow-around-down"></span><div class="catalog-drop">
<div class="position-relative">
<div class="catalog-drop-header pb-5">
<div class="container">
<div class="row">
<div class="col-12 d-flex justify-content-between align-items-center">
<img class="logo lazyload" data-src="images/logo.png" alt="img">
<div class="catalog-drop-close"><span>+</span></div>
</div>
</div>
</div>
</div>
<div>
<div class="container">
<div class="row pb-4">
<div class="col-12 col-lg-3 d-flex flex-column align-items-start">
<a href="#" class="title active mb-4">
<img class="lazyload" data-src="https://via.placeholder.com/50x50" alt="img" title="img">
<span>Пиломатериалы</span>
</a>
<a href="#" class="title">
<img class="lazyload" data-src="https://via.placeholder.com/50x50" alt="img" title="img">
<span>Пиломатериалы</span>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
              </div>
            </div>
            <div class="col-7 d-none d-lg-block">
              <nav class="navigation d-flex justify-content-around"><a class="navigation__link" href="#">главная</a><a class="navigation__link active" href="epiclegend.ru">О компании</a><a class="navigation__link" href="#">Доставка</a><a class="navigation__link" href="#">Оплата</a><a class="navigation__link" href="#">Оптовикам</a>
              </nav>
            </div>
            <div class="col-2 d-none d-lg-block align-items-center justify-content-center">
              <div class="d-flex align-items-center">
                <div class="minicart"><!-- убрать класс minicart__link_btn если не нужно открывать меню -->
<!-- Например, для телефона -->
<!-- Чтобы по клику был переход на страницу, а не выпадало меню --><a class="minicart__link minicart__link_btn" href="#"><span class="icon-cart"></span><span class="minicart__count">2</span></a>
                </div><span class="font-16 text-white ml-4"><b>2 354 ₽						</b></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="minicart__dropdown">
        <div class="minicart__dropdown_content">
          <div class="d-flex justify-content-end pb-3"><span class="minicart__dropdown_close">+</span></div>
          <ul class="minicart__list-content">
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
          </ul><div class="minicart__total"><span>Цена</span><span>4 999 ₽</span></div>
<div class="minicart-btns d-flex flex-column">
<a class="btn mb-3" href="#">Корзина</a>
<a class="btn btn_main" href="#">Оформить</a>
</div>
        </div>
      </div>
    </header>
    <div class="menu-modal">
      <div class="menu-modal__content"><div class="d-flex justify-content-between align-items-center mb-4"><a class="logo" href="#"><img class="lazyload" data-src="images/logo.png" alt="img" title="img"></a>
        <div class="menu-modal__close"></div></div>
        <nav class="navigation navigation_mobile d-flex flex-column align-items-start"><a class="navigation__link" href="#">главная</a><a class="navigation__link active" href="epiclegend.ru">О компании</a><a class="navigation__link" href="#">Доставка</a><a class="navigation__link" href="#">Оплата</a><a class="navigation__link" href="#">Оптовикам</a>
        </nav>
        <div class="menu-modal__block d-flex justify-content-center"><a class="header-phone" href="tel:+79000000000">+7 (900) 000-00-00</a></div>
        <div class="social d-flex justify-content-center"><a class="social__item" href="#"><span class="icon-vk"></span></a><a class="social__item" href="#"><span class="icon-instagram"></span></a></div>
      </div>
    </div>
    <div class="content">
      <div class="breadcrumb-block">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="font-36 font-weight-600 pb-2">Каталог</h1><nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="#">Главная</a></li>
<li class="breadcrumb-item active" aria-current="page">Каталог</li>
</ol>
</nav>
            </div>
          </div>
        </div>
      </div>
      <section class="about pt-5">
        <div class="container pt-4">
          <div class="row">
            <div class="col-12 col-lg-4 pb-5 pb-lg-0 d-flex justify-content-center"><img class="lazyload img-fluid" data-src="images/about.png" alt="img"></div>
            <div class="col-12 col-lg-8 pt-5 pt-lg-0">
              <h1 class="font-24 mb-4"><b>Добро пожаловать в интернет-магазин</b></h1>
              <p>Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности способствует подготовки и реализации дальнейших направлений развития. Равным образом сложившаяся структура организации играет важную роль в формировании форм развития. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. Не следует, однако забывать, что укрепление и развитие структуры требуют определения и уточнения форм развития. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности способствует подготовки и реализации соответствующий условий активизации.</p>
            </div>
          </div>
        </div>
      </section><div class="service-area d-none d-lg-block pt-5 mb-5">
<div class="container">
<div class="service-wrap m-0">
<div class="row align-items-center">
<div class="col-lg-3 col-md-6 col-sm-6 col-12 d-flex justify-content-center">
<div class="single-service-wrap mb-30">
      <div class="single-service-wrap__preview"><span class="icon-truck"></span></div><div class="service-content">
<span>Доставка товарв</span>
<span>Мы доставим товар на объект в нужное время</span>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6 col-12 d-flex justify-content-center">
<div class="single-service-wrap mb-30">
      <div class="single-service-wrap__preview"><span class="icon-truck"></span></div><div class="service-content">
<span>Гарантия</span>
<span>Гарантия на весь товар</span>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6 col-12 d-flex justify-content-center">
<div class="single-service-wrap mb-30">
      <div class="single-service-wrap__preview"><span class="icon-truck"></span></div><div class="service-content">
<span>Большой выбор</span>
<span>Большой выбор товара</span>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6 col-12 d-flex justify-content-center">
<div class="single-service-wrap mb-30">
      <div class="single-service-wrap__preview"><span class="icon-truck"></span></div><div class="service-content">
<span>Лучшая цена</span>
<span>Нашли дешевле, мы вернем вам разницу</span>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
      <div class="container pb-90">
        <div class="row">
          <div class="col-12">
            <h2 class="font-24 text-center mb-5"><b>Наша команда</b></h2>
          </div>
          <div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
            <div class="team-item">
              <div class="pb-3"><img class="w-100 lazyload" data-src="images/user.png" alt="img" title="user"></div><span class="text-center font-24 d-block"><b>Иван Иванов</b></span><span class="text-center font-18 d-block">продавец-консультант</span>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
            <div class="team-item">
              <div class="pb-3"><img class="w-100 lazyload" data-src="images/user.png" alt="img" title="user"></div><span class="text-center font-24 d-block"><b>Иван Иванов</b></span><span class="text-center font-18 d-block">продавец-консультант</span>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
            <div class="team-item">
              <div class="pb-3"><img class="w-100 lazyload" data-src="images/user.png" alt="img" title="user"></div><span class="text-center font-24 d-block"><b>Иван Иванов</b></span><span class="text-center font-18 d-block">продавец-консультант</span>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
            <div class="team-item">
              <div class="pb-3"><img class="w-100 lazyload" data-src="images/user.png" alt="img" title="user"></div><span class="text-center font-24 d-block"><b>Иван Иванов</b></span><span class="text-center font-18 d-block">продавец-консультант</span>
            </div>
          </div>
        </div>
      </div>
    </div><div class="modal fade" id="modalProduct" tabindex="-1" role="dialog" aria-labelledby="modalProductLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="modalProductLabel">Modal title</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<button type="button" class="btn btn-primary">Save changes</button>
</div>
</div>
</div>
</div>
    <div class="btn-to-top">
      <div class="btn-to-top__content d-flex justify-content-center align-items-center"><span class="icon-arrow-around-up"></span></div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="footer-top">
          <div class="row">
            <div class="col-12 col-lg-5 pb-5 pb-lg-0 d-none d-lg-block"><span class="block-header font-24 font-weight-500 mb-4 d-block">Каталог</span>
              <div class="row">
                <div class="col-12 col-lg-5 pb-3 d-flex flex-column"><a class="footer-nav-item" href="#">Категория</a><a class="footer-nav-item" href="#">Категория</a><a class="footer-nav-item" href="#">Категория</a><a class="footer-nav-item" href="#">Категория</a><a class="footer-nav-item" href="#">Категория</a><a class="footer-nav-item" href="#">Категория</a><a class="footer-nav-item" href="#">Категория</a>
                </div>
                <div class="col-12 col-lg-5 d-flex flex-column"><a class="footer-nav-item" href="#">Категория</a><a class="footer-nav-item" href="#">Категория</a><a class="footer-nav-item" href="#">Категория</a><a class="footer-nav-item" href="#">Категория</a><a class="footer-nav-item" href="#">Категория</a><a class="footer-nav-item" href="#">Категория</a><a class="footer-nav-item" href="#">Категория</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-3 pb-5 pb-lg-0 d-none d-lg-block"><span class="block-header font-24 font-weight-500 mb-4 d-block">Дополнительно</span>
              <div class="d-flex flex-column"><a class="footer-nav-item" href="#">Доставка и оплата</a><a class="footer-nav-item" href="#">О компании</a><a class="footer-nav-item" href="#">Сотрудничество</a><a class="footer-nav-item" href="#">Контакты</a></div>
            </div>
            <div class="col-12 col-lg-4"><span class="block-header font-24 font-weight-500 mb-4 d-none d-lg-block">Контакты</span>
              <div class="d-flex flex-column align-items-start">
                <div class="d-flex mb-4"><span class="icon-phone-2 font-14 mr-3"></span>
                  <div class="d-flex flex-column"><span class="font-14 mb-2 mr-2">принимаем звонки каждый день с 9.00 до 21.00</span><a class="link_color font-36" href="tel:+79000000000"><b>+7 900 000-00-00</b></a></div>
                </div>
                <div class="d-flex mb-3"><span class="icon-location font-14 mr-3"></span><span class="font-14">Челябинск</span></div>
                <div class="d-flex"><span class="icon-email font-14 mr-3"></span><a class="font-14 footer-nav-item m-0" href="mailto:mail@mail.ru">mail@mail.ru</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-6 d-flex justify-content-center d-lg-block pb-3 pb-lg-0"><a class="font-14" href="#">2021 - политика конфиденциальности</a></div>
            <div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-end"><a class="font-14 dek" href="https://deksis.ru/">Создание сайта DEKSIS.RU</a></div>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/main.min.js"></script>
  </body>
</html>

source/html/about.pug
extends base.pug
block content
	include components/breadcrumbs.pug
	section(class="about pt-5")
		div(class="container pt-4")
			div(class="row")
				div(class="col-12 col-lg-4 pb-5 pb-lg-0 d-flex justify-content-center")
					img(class="lazyload img-fluid" data-src="images/about.png" alt="img")
				div(class="col-12 col-lg-8 pt-5 pt-lg-0")
					h1(class="font-24 mb-4")
						b
							| Добро пожаловать в интернет-магазин
					p
						| Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности способствует подготовки и реализации дальнейших направлений развития. Равным образом сложившаяся структура организации играет важную роль в формировании форм развития. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. Не следует, однако забывать, что укрепление и развитие структуры требуют определения и уточнения форм развития. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности способствует подготовки и реализации соответствующий условий активизации.
	<div class="service-area d-none d-lg-block pt-5 mb-5">
		<div class="container">
			<div class="service-wrap m-0">
				<div class="row align-items-center">
					<div class="col-lg-3 col-md-6 col-sm-6 col-12 d-flex justify-content-center">
						<div class="single-service-wrap mb-30">
							div(class="single-service-wrap__preview")
								span(class="icon-truck")
							<div class="service-content">
								<span>Доставка товарв</span>
								<span>Мы доставим товар на объект в нужное время</span>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-12 d-flex justify-content-center">
						<div class="single-service-wrap mb-30">
							div(class="single-service-wrap__preview")
								span(class="icon-truck")
							<div class="service-content">
								<span>Гарантия</span>
								<span>Гарантия на весь товар</span>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-12 d-flex justify-content-center">
						<div class="single-service-wrap mb-30">
							div(class="single-service-wrap__preview")
								span(class="icon-truck")
							<div class="service-content">
								<span>Большой выбор</span>
								<span>Большой выбор товара</span>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-12 d-flex justify-content-center">
						<div class="single-service-wrap mb-30">
							div(class="single-service-wrap__preview")
								span(class="icon-truck")
							<div class="service-content">
								<span>Лучшая цена</span>
								<span>Нашли дешевле, мы вернем вам разницу</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	div(class="container pb-90")
		div(class="row")
			div(class="col-12")
				h2(class="font-24 text-center mb-5")
					b
						| Наша команда
			-for(let i = 0; i < 4; i++)
				div(class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0")
					div(class="team-item")
						div(class="pb-3")
							img( class="w-100 lazyload" data-src="images/user.png" alt="img" title="user")
						span(class="text-center font-24 d-block")
							b
								| Иван Иванов
						span(class="text-center font-18 d-block")
							| продавец-консультант
